@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-center .AchiversDetails {
  transform: scale(1.2);
}

.slick-prev,
.slick-next {
  display: none !important;
}

.slick-dots li.slick-active button:before {
  color: white !important;
}

.slick-dots li button:before {
  color: white !important;
}
.text-undiscovered-primary {
  --tw-text-opacity: 1;
  color: rgb(0 100 92 / var(--tw-text-opacity));
}

.scroll_width {
  overflow-x: scroll;
}

@media (min-width: 1024px) {
  .scroll_width {
    overflow-y: scroll;
    overflow-x: unset;
    scrollbar-width: thin;
  }

  .scroll_width::-webkit-scrollbar {
    overflow-y: scroll;
    overflow-x: unset;
    width: 5px;
    background-color: #1a3e58;
  }
}

.btn::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background-color: #dec08c;
  transition: 500ms ease;
  z-index: -1;
}

.btn .text-2 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: max-content;
  color: hsla(40, 12%, 5%, 1);
}

.btn:is(:hover, :focus-visible)::before { bottom: -50%; }

.btn:is(:hover, :focus-visible) .text-1 { transform: translateY(-40px); }

.btn:is(:hover, :focus-visible) .text-2 {
  top: 50%;
  transform: translate(-50%, -50%);
}

.slick-prev:before,
.slick-next:before {
  display: hidden;
}

.about-us-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../public/About/shutterstock-707341174.webp");
}

.about-us-background {
  background-size: cover;
  background-position: 50%;
}

.animate-bottomToTop {
  animation: bottomToTop 1s ease forwards;
}

.animate-bottomToTop.delay-1 {
  animation-delay: 0.5s;
}

.animate-bottomToTop {
  animation: bottomToTop 1s ease forwards;
}

.home-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/HomeHero/home1.jpg");
  background-position: center;
  background-size: cover;
}

.home-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/HomeHero/home2.jpg");
  background-position: center;
  background-size: cover;
}

.home-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/HomeHero/home3.jpg");
  background-position: center;
  background-size: cover;
}

.home-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/HomeHero/home4.avif");
  background-position: center;
  background-size: cover;
}

.home-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/HomeHero/home5.jpg");
  background-position: center;
  background-size: cover;
}

.home-6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/HomeHero/home6.jpg");
  background-position: center;
  background-size: cover;
}

.home-7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/HomeHero/home7.jpeg");
  background-position: center;
  background-size: cover;
}

.home-8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/HomeHero/home8.jpg");
  background-position: center;
  background-size: cover;
}

.home-9 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/HomeHero/home9.jpg");
  background-position: center;
  background-size: cover;
}

.tour-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/tana2.jpg");
  background-size: cover;
  background-position: center;
}

.tour-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/omo 9.jpg");
  background-size: cover;
  background-position: center;
}

.tour-9 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/lalibela 3.jpg");
  background-size: cover;
  background-position: center;
}

.tour-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/Gheralta1.jpg");
  background-size: cover;
  background-position: center;
}

.tour-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/coffee 9.jpg");
  background-size: cover;
  background-position: center;
}

.tour-6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/coffee 1.jpg");
  background-size: cover;
  background-position: center;
}

.tour-7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/simien 2.jpg");
  background-size: cover;
  background-position: center;
}

.tour-8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/Gheralta7.jpg");
  background-size: cover;
  background-position: center;
}

.tour-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/gallery/gallery 10.jpg");
  background-size: cover;
  background-position: center;
}

.tour-10 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/bale6.jpg");
  background-size: cover;
  background-position: center;
}

.tour-11 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/gallery/gallery 17.jpg");
  background-size: cover;
  background-position: center;
}

.tour-13 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/Gheralta7.jpg");
  background-size: cover;
  background-position: center;
}

.tour-14 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/gallery/addis7.jpg");
  background-size: cover;
  background-position: center;
}

.tour-15 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/gallery/addis6.jpg");
  background-size: cover;
  background-position: center;
}

.tour-12 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/gallery/gallery 9.jpg");
  background-size: cover;
  background-position: center;
}


.hotel-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/coffee 3.jpg");
  background-position: center;
  background-size: cover;
}

.hotel-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/Gheralta7.jpg");
  background-position: center;
  background-size: cover;
}

.hotel-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/lalibela 6.JPG");
  background-position: center;
  background-size: cover;
}

.hotel-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/omo 7.jpg");
  background-position: center;
  background-size: cover;
}

.hotel-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/simien 5.jpg");
  background-position: center;
  background-size: cover;
}

.hotel-6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/temp/tana2.jpg");
  background-position: center;
  background-size: cover;
}

.attraction-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/tana2.jpg");
  background-position: center;
  background-size: cover;
}

.attraction-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/temp/axum1.jpg");
  background-position: center;
  background-size: cover;
}

.attraction-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/attraction/birds6.jpg");
  background-position: center;
  background-size: cover;
}

.attraction-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/attraction/photography7.jpg");
  background-position: center;
  background-size: cover;
}

.attraction-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/Danakil2.jpg");
  background-position: center;
  background-size: cover;
}

.attraction-6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/gallery/addis7.jpg");
  background-position: center;
  background-size: cover;
}

.attraction-7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/attraction/christanity6.jpg");
  background-position: center;
  background-size: cover;
}

.attraction-8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/attraction/muslim1.jpg");
  background-position: center;
  background-size: cover;
}

.attraction-9 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/attraction/omo1.jpg");
  background-position: center;
  background-size: cover;
}

.attraction-10 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/attraction/lang2.jpg");
  background-position: center;
  background-size: cover;
}

.attraction-11{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/ethiopia/ethiopia 13.jpg");
  background-position: center;
  background-size: cover;
}

.attraction-12{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/attraction/Harar5.jpg");
  background-position: center;
  background-size: cover;
}

.attraction-13{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/attraction/jimma1.jpg");
  background-size: cover;
  background-position: center;
}

.attraction-14{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/lalibela 3.jpg");
  background-position: center;
  background-size: cover;
}

.attraction-15{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/simien 8.jpg");
  background-position: center;
  background-size: cover;
}

.attraction-16{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/attraction/lake5.jpg");
  background-position: center;
  background-size: cover;
}

.attraction-17{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/bale6.jpg");
  background-position: center;
  background-size: cover;
}

.attraction-18{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../public/Tours/bale5.jpg");
  background-position: center;
  background-size: cover;
}

.footer-backgound {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../public/About/Chebera1.jpg");
  background-size: cover;
  background-position: center;
}